body {
  padding-top: 144px;
}

.padded {
  padding-top: 144px;
}

.padded-x {
  padding-top: 312px;
}

.header {
  padding: 150px;
  text-align: center;
  min-height: 100%
}

.header > button, form {
  margin: 50px;
}

.header > form > button {
  margin: 50px;
}

.hide {
  display: none;
}

.show {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
  background-color: white;
  text-align: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 980px) {
  .display-4 {
    font-size: 4rem;
  }
  body {
    font-size: 2rem;
  }
  .padded-x {
    padding-top: 408px;
  }
  .lead {
    font-size: 2rem;
  }
  .btn {
    font-size: 2rem;
  }
}
